<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="A new Flutter project.">

  <!-- iOS meta tags & icons -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="pregoneros">
  <link rel="apple-touch-icon" href="/icons/Icon-192.png">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="{{asset('site.webmanifest')}}">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#db310b">
  <meta name="msapplication-TileColor" content="#ffd300">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" type="image/png" href="/icons/favicon.png" />

  <title>Ekkofy</title>
  <link rel="manifest" href="/manifest.json">
</head>
<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <!--script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script-->
  <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyDW27P-Aq9dk4obROxMBeyyceZqR4a8GrY",
      authDomain: "ekkofy-8fecf.firebaseapp.com",
      databaseURL: "https://ekkofy-8fecf.firebaseio.com",
      projectId: "ekkofy-8fecf",
      storageBucket: "ekkofy-8fecf.appspot.com",
      messagingSenderId: "855248945811",
      appId: "1:855248945811:web:db45067d156a93b7414366",
      measurementId: "G-ZTMPHZ27TL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  <!-- This script installs service_worker.js to provide PWA functionality to
       application. For more information, see:
       https://developers.google.com/web/fundamentals/primers/service-workers -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('/flutter_service_worker.js');
      });
    }
  </script>
  <script src="main.dart.js" type="application/javascript"></script>
</body>
</html>
